GEMINI_API_KEY="your-key"
OPENAI_API_KEY="your-key"
DEEPSEEK_API_KEY="your-key"
GLM_API_KEY="your-key"
KIMI_API_KEY="your-key"

OPENROUTER_API_KEY="your-key"
OPENROUTER_API_SECRET="your-secret"
OPENROUTER_MODEL="openrouter/owl-alpha"

SYSTEM_PROMPT="Ты - помощник, который помогает пользователям с их задачами."
MEDIA_FOLDER="cache/media"